<a href="https://colab.research.google.com/github/ShishirShastry/collab/blob/main/8th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 859.1 kB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58749 sha256=afa36c7f6d2361cc64c1ed8dc35af3918c3be9850d984fc8ee9afb14f7e073bf
  Stored in directory: /root/.cache/pip/wheels/63/88/77/b4131110ea4094540f7b47c6d62a649807d7e94800da5eab0b
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [5]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=018f0f8233ac466a27cf24a367777cd5b5de346eb612a5685eb8c88ec9a54c70
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,sum,avg,max

In [25]:
# Initialize SparkSession
ss = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

In [8]:
Data = [("James","Sales","NY",90000,34,10000),
("Michael","Sales","NV",86000,56,20000),
("Robert","Sales","CA",81000,30,23000),
("Maria","Finance","CA",90000,24,23000),
("Raman","Finance","DE",99000,40,24000),
("Scott","Finance","NY",83000,36,19000),
("Jen","Finance","NY",79000,53,15000),
("Jeff","Marketing","NV",80000,25,18000),
("Kumar","Marketing","NJ",91000,50,21000)
]

In [9]:
schema = ["employee_name","department","state","salary","age","bonus"]

In [23]:
df = ss.createDataFrame(Data, schema)

In [26]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NV| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   DE| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   NV| 80000| 25|18000|
|        Kumar| Marketing|   NJ| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [27]:
df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

In [34]:
df.groupBy("state").sum("salary").show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   NV|     166000|
|   CA|     171000|
|   NY|     252000|
|   NJ|      91000|
|   DE|      99000|
+-----+-----------+

In [33]:
df.groupBy("state").sum("salary").filter("sum(salary)>100000").show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   NV|     166000|
|   CA|     171000|
|   NY|     252000|
+-----+-----------+

In [37]:
df.groupBy("state").sum("salary").orderBy("sum(salary)").show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   NJ|      91000|
|   DE|      99000|
|   NV|     166000|
|   CA|     171000|
|   NY|     252000|
+-----+-----------+