<a href="https://colab.research.google.com/github/ShishirShastry/collab/blob/main/exp6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 858.0 kB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58749 sha256=a70cae2f90da3b99bf3bfc823b91c73ddf6def9dde6afe26ee83b057ee424aff
  Stored in directory: /root/.cache/pip/wheels/63/88/77/b4131110ea4094540f7b47c6d62a649807d7e94800da5eab0b
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=b75fca1877f01795613ade3f3bfc0b45af3e5a5d0336a54462c652d321ff9343
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
ss=SparkSession.builder.appName('csv rdd').getOrCreate()
ss

In [ ]:
sample=ss.read.format("csv").option("header","true").load("/content/srn.csv").rdd

In [ ]:
sample.collect()

[Row(name='shishir', srn='r22ef814', section='A'),
 Row(name='shasty ', srn='r22ef815', section='B'),
 Row(name='joe', srn='r22ef816', section='C'),
 Row(name='rahul', srn='r22ef817', section='E'),
 Row(name='rana', srn='r22ef818', section='F'),
 Row(name='rama', srn='r22ef819', section='G'),
 Row(name='raju ', srn='r22ef820', section='H'),
 Row(name='raj', srn='r22ef821', section='I'),
 Row(name='john', srn='r22ef822', section='J')]

In [ ]:

sample.getNumPartitions()

1

In [ ]:
sample.take(5)

[Row(name='shishir', srn='r22ef814', section='A'),
 Row(name='shasty ', srn='r22ef815', section='B'),
 Row(name='joe', srn='r22ef816', section='C'),
 Row(name='rahul', srn='r22ef817', section='E'),
 Row(name='rana', srn='r22ef818', section='F')]

In [ ]:
df=sample.toDF()
df

DataFrame[name: string, srn: string, section: string]

In [ ]:
df.show()

+-------+--------+-------+
|   name|     srn|section|
+-------+--------+-------+
|shishir|r22ef814|      A|
|shasty |r22ef815|      B|
|    joe|r22ef816|      C|
|  rahul|r22ef817|      E|
|   rana|r22ef818|      F|
|   rama|r22ef819|      G|
|  raju |r22ef820|      H|
|    raj|r22ef821|      I|
|   john|r22ef822|      J|
+-------+--------+-------+

In [ ]:
df.head(5)

[Row(name='shishir', srn='r22ef814', section='A'),
 Row(name='shasty ', srn='r22ef815', section='B'),
 Row(name='joe', srn='r22ef816', section='C'),
 Row(name='rahul', srn='r22ef817', section='E'),
 Row(name='rana', srn='r22ef818', section='F')]

In [ ]:
df.describe().show()

+-------+-------+--------+-------+
|summary|   name|     srn|section|
+-------+-------+--------+-------+
|  count|      9|       9|      9|
|   mean|   NULL|    NULL|   NULL|
| stddev|   NULL|    NULL|   NULL|
|    min|    joe|r22ef814|      A|
|    max|shishir|r22ef822|      J|
+-------+-------+--------+-------+