<a href="https://colab.research.google.com/github/ShishirShastry/collab/blob/main/exp7and8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 1.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58749 sha256=3724aa1a836357f4bd7361ed60c3e0db113deab414629f06170ca5091d744895
  Stored in directory: /root/.cache/pip/wheels/63/88/77/b4131110ea4094540f7b47c6d62a649807d7e94800da5eab0b
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=710d4cfd61062832ff65ec6370dadd0f78f954fa6003f7c7502e0ab24b165475
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc=SparkContext.getOrCreate()
ss=SparkSession.builder.appName("Sample").getOrCreate()

In [ ]:
sc
ss

In [ ]:
sc

In [ ]:
ss

In [ ]:
textfile=ss.read.text("/content/sample_data/sample.txt")

In [ ]:
textfile

DataFrame[value: string]

In [ ]:
textrdd=textfile.rdd
textrdd

MapPartitionsRDD[4] at javaToPython at NativeMethodAccessorImpl.java:0

In [ ]:
textrdd.count()
textrdd.collect()

[Row(value='hello! hola I am Shishir Shastry '),
 Row(value='I like TRON LEGACY '),
 Row(value='I live in Sadashivanagar '),
 Row(value='Intrested in Tech and films,games'),
 Row(value='Computers and Sodas is an aesthetic vibe')]

In [2]:
word = textrdd.flatMap(lambda line: line.value.split(" "))

NameError: name 'textrdd' is not defined

In [1]:
word
word.count()
word.collect()

NameError: name 'word' is not defined

In [ ]:
Data=[("James","Sales","NY",9000,34,10000),("Miachel","sales","NV",86000,56,20000),("Robert","sales","CA",81000,30,23000),("Maria","Finance","CA",90000,24,23000),("Raman","Fiance","DE",99000,40,240000)]

In [ ]:
schema=["Employee_name","department","state","salary","age","bonus"]

In [ ]:
df=ss.createDataFrame(Data,schema)
df.show()

+-------------+----------+-----+------+---+------+
|Employee_name|department|state|salary|age| bonus|
+-------------+----------+-----+------+---+------+
|        James|     Sales|   NY|  9000| 34| 10000|
|      Miachel|     sales|   NV| 86000| 56| 20000|
|       Robert|     sales|   CA| 81000| 30| 23000|
|        Maria|   Finance|   CA| 90000| 24| 23000|
|        Raman|    Fiance|   DE| 99000| 40|240000|
+-------------+----------+-----+------+---+------+

In [ ]:
df.printSchema()

root
 |-- Employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

In [ ]:
df.groupBy('state').sum("salary").show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   NV|      86000|
|   NY|       9000|
|   CA|     171000|
|   DE|      99000|
+-----+-----------+

In [ ]:
df.groupBy('state').sum("salary").filter("sum(salary)>100000").show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   CA|     171000|
+-----+-----------+

In [ ]:
df.groupBy("state").sum("salary").orderBy("sum(salary)").show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   NY|       9000|
|   NV|      86000|
|   DE|      99000|
|   CA|     171000|
+-----+-----------+